@use '../settings' as settings;

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;

  @media (min-width: settings.$breakpoint-sm) {
    font-size: 16px;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: settings.$color-base;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::selection {
  color: settings.$color-dark;
  background: settings.$color-yellow;
}

a {
  text-decoration: none;
  color: settings.$color-link;
}

h1, h2, p {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.container {
  width: settings.$container-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;

  @media (max-width: settings.$container-width) {
    width: 100%;
  }
}
