@use '../settings' as settings;

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  text-align: center;
  padding: 3rem 1rem calc(1rem + env(safe-area-inset-bottom, 0));

  &__link {
    font-size: .8rem;
    color: settings.$color-base;
    font-weight: 400;
  }
}
