@use '../settings' as settings;

.header {
  margin-top: 3rem;
  margin-bottom: 4rem;

  @media (min-width: settings.$breakpoint-sm)  {
    margin-bottom: clamp(3rem, 12dvh, 6.5rem);
  }

  &__logo {
    width: 142px;
    color: settings.$color-base;
  }
}
