@use '../settings' as settings;

.teaser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;

  @media (max-width: settings.$breakpoint-md) {
    flex-direction: column-reverse;
  }

  &__text {
    max-width: 600px;
  }

  &__image-wrapper {
    @media (min-width: settings.$breakpoint-md) and (max-width: settings.$breakpoint-lg) {
      flex: 0 0 40%;
    }
  }

  &__image {
    width: 100%;

    @media (max-width: settings.$breakpoint-md) {
      max-width: 300px;
    }
  }
}
