{{ define "main" }}
    <div class="teaser container">
        <section class="teaser__text">
            <h1>Hi, I’m Marvin!</h1>
            <h2>Senior Frontend Developer</h2>
            {{.Content}}
            <section class="social">
                {{ range $.Site.Params.social }}
                    <a class="social__item" href="{{ .url }}">
                        {{ readFile (printf "static/images/%s.svg" (lower .name)) | replaceRE "^<svg" "<svg class=\"social__logo\"" | safeHTML }}
                        <span class="social__text">{{ .name }}</span>
                    </a>
                {{ end }}
            </section>
        </section>
        <section class="teaser__image-wrapper">
            <img class="teaser__image" alt="Marvin Hockenjos" src="/images/marvin-hockenjos.jpg">
        </section>
    </div>
{{ end }}
